@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Balsamiq+Sans&family=Palanquin+Dark&family=Short+Stack&display=swap');

h1{
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 5em;
}

p{
    text-align: center;
}

input, button, td, p{
    font-family: 'Balsamiq Sans', cursive;
}

#inputadd{
    width: 65%;
    margin: auto;
    /* border: 1px black solid; */
}

input[type="text"]{
    /* display:block; */
    width: 90%;
    margin:0.5% 0.5% 0.5% 1%;
    height: 2em;
    border-width: 1px;
    border-radius: 20px;
    text-align: center;
}

button[type="Submit"]{
    font-size: 1.5em;
    background-color: aquamarine;
    border-width: 0;
    border-radius: 50%;
    margin: 1% 0.3% 1% 2%;
    padding: 0.5% 1.2%;
    /* width: 1.2em; */
    /* height: 1.2em; */
}

button[type="Submit"]:hover{
    font-size: 1.65em;
}

table{
    /* width: 50%; */
    margin: auto;
}

td:nth-child(1){
    width: 10%;
}

td:nth-child(2){
    width: 85%;
}

td:nth-child(3){
    width: 10%;
}

td{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.delete_buttons{
    padding: 1em;
    border-radius: 50%;
    border-width: 0;

}

.finishtask{
    border-radius: 50%;
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;
  
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.1em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
  
    display: grid;
    place-content: center;
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: aquamarine;
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  
  input[type="checkbox"]:focus {
    outline: max(1px, 0.1em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }
  
  input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);
  
    color: var(--form-control-disabled);
    cursor: not-allowed;
  }